@use "../abstract/mixins";
@use "../abstract/variable" as var;

main {
    #presentation {
        @include mixins.flex (column);
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 2rem;
        margin: 0 20%;
        border-radius: 20px;

        h2 {
            font-size: 40px;
            margin-bottom: 1rem;
        }
        p {
            text-align: center;
            font-size: 20px;
            margin-top: 0.5rem;
        }
        a {
            font-size: 20px;
            margin-top: 1rem;
            color: var.$secondarycolor;
        }
    }
}
@media screen and (max-width:820px) {
    main {
        #presentation {
            margin: 0 1rem;
        }
    }
}