@use "../abstract/mixins";
@use "../abstract/variable" as var;
@font-face {
    font-family: "pixelify";
    src: url(../font/PixelifySans-VariableFont_wght.ttf);
}
@font-face {
    font-family: "roboto";
    src: url(../font/Roboto-Regular.ttf);
}

body {
    background-image: url(../img/Space-purple-galaxy-stars.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    font-family: "roboto";
    @include mixins.flex(column,space-between);
    overflow: hidden;
}
h1, h2, h3, ul span, a {
    font-family: "pixelify";
}
h1 {
    position: absolute;
    left: 7777777px;
}